In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# 1. Which was the most-ordered item?
are Chips and Fresh Tomato Salsa with order id 1443 and was ordert 15 times

In [6]:
item = chipo.groupby(by=["order_id","item_name"]).sum().sort_values(by=["quantity"],ascending=False).head(1).reset_index()[["item_name"]].iloc[0,0]
print("The most-ordered item was " + item)

The most-ordered item was Chips and Fresh Tomato Salsa

# 2. For the most-ordered item, how many items were ordered?

In [7]:
number_of_items = chipo.groupby(by=["order_id","item_name"]).sum().sort_values(by=["quantity"],ascending=False).head(1).reset_index()[["quantity"]].iloc[0,0]
print("Chips and Fresh Tomato Salsa was ordered " +  str(number_of_items) + " times")

Chips and Fresh Tomato Salsa was ordered 15 times

# 3. Most orderd item from choice_description column

In [8]:
choices = []
for item in chipo["choice_description"]:
    if type(item) == str:
        choices.append(item.replace("[","").replace("]","").split(",")[0])

item = pd.Series(choices).value_counts().head(1).reset_index().iloc[0,0]
item_count = pd.Series(choices).value_counts().head(1).reset_index().iloc[0,1]
print("Most oredered items from choice_description is " +  item + " and was ordered " + str(item_count) + " times." )

Most oredered items from choice_description is Fresh Tomato Salsa and was ordered 1046 times.

# 4. How many items were ordered in total?

In [9]:
total_items_ordered = chipo["quantity"].sum()
print("Totaly was ordered " + str(total_items_ordered) + " items")

Totaly was ordered 4972 items

# 5. Convert the item price into a float

In [10]:
chipo["item_price"].dtype

dtype('O')

In [11]:
chipo["item_price"] = chipo["item_price"].str.replace("$", '',regex=False).astype(float)
chipo["item_price"].dtype

dtype('float64')

# 6. How much was the revenue for the period in the dataset?

In [12]:
chipo["Line_Item_Price"] = chipo["quantity"] * chipo["item_price"]

In [13]:
revenue = chipo["Line_Item_Price"].sum()
print("The revenue for the period was " + str(revenue) )

The revenue for the period was 39237.02

# 7.How many orders were made in the period?

In [14]:
number_of_orders = len(chipo["order_id"].unique())
print("In the period was made " + str(number_of_orders) + " orders")

In the period was made 1834 orders

# 8. What is the average revenue amount per order?

In [15]:
average_revenue_per_order = round(revenue / number_of_orders,2)
print("Average revenue amount per order was $" + str(average_revenue_per_order))

Average revenue amount per order was $21.39

# 9. How many different items are sold?

In [16]:
distinct_items_sold = len(chipo["item_name"].unique())
print(str(distinct_items_sold) + " distinct items wasl sold for the period.")

50 distinct items wasl sold for the period.