In [92]:
import numpy as np
import pandas as pd

In [93]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [94]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [95]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [96]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# 1. Which was the most-ordered item?
are Chips and Fresh Tomato Salsa with order id 1443 and was ordert 15 times

In [100]:
chipo.groupby(by=["order_id","item_name"]).sum().sort_values(by=["quantity"],ascending=False).head(1)

                                       quantity
order_id item_name
1443     Chips and Fresh Tomato Salsa        15

# 2. For the most-ordered item, how many items were ordered?

In [98]:
chipo.groupby(by=["order_id","item_name"]).sum().sort_values(by=["quantity"],ascending=False).head(1)

                                       quantity
order_id item_name
1443     Chips and Fresh Tomato Salsa        15

# 3. Most orderd item from choice_description column

In [90]:
choices = []
for item in chipo["choice_description"]:
    if type(item) == str:
        choices.append(item.replace("[","").replace("]","").split(",")[0])

pd.Series(choices).value_counts().head(1)

Fresh Tomato Salsa    1046
dtype: int64

# 4. How many items were ordered in total?

In [8]:
chipo["quantity"].sum()

4972

# 5. Convert the item price into a float

In [9]:
chipo["item_price"].dtype

dtype('O')

In [10]:
chipo["item_price"] = chipo["item_price"].str.replace("$", '',regex=False).astype(float)

In [11]:
chipo["item_price"].dtype

dtype('float64')

# 6. How much was the revenue for the period in the dataset?

In [15]:
chipo["Line_Item_Price"] = chipo["quantity"] * chipo["item_price"]

In [17]:
chipo["Line_Item_Price"].sum()

39237.02

# 7.How many orders were made in the period?

In [23]:
chipo["order_id"].count()

4622

# 8. What is the average revenue amount per order?

In [51]:
chipo["Line_Item_Price"].sum() / len(chipo["order_id"].unique())

21.39423118865867

# 9. How many different items are sold?

In [57]:
len(chipo["item_name"].unique())

50